#outer{
    height: 500px;
    width: 500px; 
    border-style: dashed;
    margin: auto;
    background-color: peru;
}
#inner{
    height: 400px;
    width: 400px;
    border-style: solid;
    background-color: lightgreen;
    border-width: 50px;
    border-color:bisque;
    margin: 50px;
    padding: 50px;
    box-sizing: border-box;
}
#subinner{
    height:200px;
    width:200px;
    background-color: aquamarine;
    border-style: dashed;
}